// Base colors 
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);

// Gray scale colors 
$gray-extralight: var(--gray-extralight);
$gray-light: var(--gray-light);
$gray-medium: var(--gray-medium);

// Semantic colors 
$color-success: var(--color-success);
$color-error: var(--color-error);
