// Base colors 
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);

// Gray scale colors 
$gray-extralight: var(--gray-extralight);
$gray-light: var(--gray-light);
$gray-medium: var(--gray-medium);
$gray-dark: var(--gray-dark);

// Semantic colors 
$color-success: var(--color-success);
$color-error: var(--color-error);

// Background colors
$color-backdrop: var(--color-backdrop);
