*,
*::before,
*::after {
    box-sizing: inherit;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    line-height: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a,
a:link {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    width: 100%;
}

button {
    font-family: inherit;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input,
textarea,
select {
    font-family: inherit;
    color: inherit;
    appearance: none;
}

input:active,
textarea:active,
select:active,
input:focus,
textarea:focus,
select:focus {
    outline: none; 
    box-shadow: 0 0 0 1px #14141482; // Custom outline, works for any shape
}

